<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor-NLog" version="3.3.0" targetFramework="net45" />
  <package id="NLog" version="4.0.0" targetFramework="net45" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net45" />
</packages>